<!DOCTYPE html>
<html lang="en">

<head th:replace="Fragments/template :: head"></head>

<body>
    <!-- Spinner Start -->
    <div th:replace="Fragments/template :: spinner"></div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a th:href="@{/home}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>MCC E-LEARNING</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <!-- <a th:href="@{/home}" class="nav-item nav-link active">Home</a> -->
                <!-- <a th:href="@{/kelas}" class="nav-item nav-link">Class</a> -->
                <a th:href="@{/profilemanager}" class="nav-item nav-link">Profile</a>
                <a th:href="@{/registerTrainer}" class="nav-item nav-link">Trainer</a>
                <!-- <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Segments</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a th:href="@{/segment}" class="dropdown-item">Segment 1</a>
                        <a th:href="@{/segment}" class="dropdown-item">Segment 2</a>
                        <a th:href="@{/segment}" class="dropdown-item">Segment 3</a>
                        <a th:href="@{/segment}" class="dropdown-item">Segment 4</a>
                    </div>
                </div>
                <a th:href="@{/task}" class="nav-item nav-link">Task</a> -->
            </div>
            <a th:href="@{/home}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Logout<i
                    class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">PROGRAM MCC CLASS</h1>
                    <!-- <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="#">Add Class</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Update Class</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Delete Class</li>
                        </ol>
                    </nav> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <div class="container text-center">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Programs</h6>
                <!-- <h1 class="mb-5">MCC Class</h1> -->
            </div>
        </div>
    </div>

    <!-- Program Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <a th:href="@{/kelasmanager}"><i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                                <h5 class="mb-3">MCC JAVA</h5>
                                <p>This program is a skills development program for Java developers which is carried out
                                    with a duration of 2 months of intensive classes and 1 month of on the job training
                                    followed by projects.</p>
                            </a>
                            <p>
                                <i class="far fa-edit" style='font-size:24px' data-bs-toggle="modal"
                                    data-bs-target="#updateprogram"></i>
                                <a href=""><i class="fa fa-trash" style='font-size:24px;color: red;'></i></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                            <h5 class="mb-3">MCC .NET</h5>
                            <p>This program is a skills development program for .Net developers which is carried out
                                with a duration of 2 months of intensive class and 1 month of on the job training
                                followed by a project.</p>
                            <p>
                                <i class="far fa-edit" style='font-size:24px' data-bs-toggle="modal"
                                    data-bs-target="#updateprogram"></i>
                                <a href=""><i class="fa fa-trash" style='font-size:24px;color: red;'></i></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-home text-primary mb-4"></i>
                            <h5 class="mb-3">SECURITY CAMP</h5>
                            <p>Security Camp participants will be trained intensively for 2 months so that participants
                                have the knowledge and skills needed to become IT Security Professionals.</p>
                            <p>
                                <i class="far fa-edit" style='font-size:24px' data-bs-toggle="modal"
                                    data-bs-target="#updateprogram"></i>
                                <a href=""><i class="fa fa-trash" style='font-size:24px;color: red;'></i></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                            <h5 class="mb-3">DATA SCIENCE</h5>
                            <p>Data Science participants will be trained intensively for 2 months so that participants
                                have the knowledge and skills needed to become a Data Analyst.</p>
                            <p>
                                <i class="far fa-edit" style='font-size:24px' data-bs-toggle="modal"
                                    data-bs-target="#updateprogram"></i>
                                <a href=""><i class="fa fa-trash" style='font-size:24px;color: red;'></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-grid gap-2 col-3 mx-auto">
        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#addprogram">ADD
            PROGRAM</button>
    </div>
    <!-- Program End -->

    <!-- Modal Add Program Start -->
    <div class="modal fade" id="addprogram" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Program</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="name" class="form-label">Program Name</label>
                        <input type="text" class="form-control" id="program-in-name" placeholder="name of program"
                            required />
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description Program</label>
                        <input type="text" class="form-control" id="program-in-description" placeholder="description of program"
                            required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Add Program End -->

    <!-- Modal Update Program Start -->
    <div class="modal fade" id="updateprogram" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Update Program</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="name" class="form-label">Program Name</label>
                        <input type="text" class="form-control" id="program-in-name" value="name of program" required />
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control" id="program-in-description" value="description of program" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Update Program End -->

    <!-- Footer Start -->
    <div th:replace="Fragments/template :: footer"></div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a th:replace="Fragments/template :: back"></a>

    <!-- JavaScript Libraries and js -->
    <div th:replace="Fragments/template :: script"></div>
</body>

</html>